<ion-view view-title="">

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-show="!slideIndex">
      Skip Intro
    </button>
    <button class="button button-positive button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
      Previous Slide
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">
      Next
    </button>
    <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-show="slideIndex == 2">
      Start using App
    </button>
  </ion-nav-buttons>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div id="logo">
        <img src="img/icon152.png">
      </div>
      <h3>Thank you for participating in this experiment!</h3>
      <p>
        Please make sure you carefully follow all instructions on the next screen.
      </p>
    </ion-slide>
    <ion-slide>
      <h3>Just 5 steps:</h3>
      <div id="list">
        <ol>
          <li>
            First, submit participant code given to you to generate your Veritas Account details.
          </li>
          <li>
            Install GMAT Veritas Mobile App and login with your generated username and password.
          </li>
          <li>
            Practice <b>at least once a day</b>. Each practice should be at
            least <b>3 minutes</b> long and cover at least <b>3 questions</b>.
             You may set as many reminders as you wish to receive practice reminders.
          </li>
          <li>
            <!-- TODO: Ask Ori if this option should be available -->
            Slide the <i>Deactivate Reminder</i> toggle if you decide to completely
            stop <b>ALL</b> reminder notifications.
          </li>
          <li>
            Tap <i>Refresh</i> button under <i>Account</i> tab to view your progress.
          </li>
        </ol>
      </div>
    </ion-slide>

    <ion-slide>
      <h3>Any questions?</h3>
      <p>
        Ask your researchers.
      </p>
      <p>
        Happy practicing :)
      </p>
    </ion-slide>
  </ion-slide-box>
</ion-view>
