<ion-view view-title="GMAT Practice Reminder" cache-view="false">

  <ion-content class="padding">

    <ion-list>


      <div class="list">
        <label class="item item-divider positive-bg">
          Veritas Account Login
        </label>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="enter participant code" ng-model="account.code">
          </label>

          <button class="button button-small" ng-click="submit_code(account.code)">
            Submit
          </button>
        </div>

        <label class="item item-input">
          <span class="input-label">Username: </span>
          <!-- <input class="input-class" value="{{account.username}}" ng-disabled="true"> -->
          <input type="text" value="{{account.username}}" ng-disabled="false">
        </label>

        <label class="item item-input">
          <span class="input-label">Password: </span>
          <input type="text" value="{{account.password}}" ng-disabled="false">
        </label>

      </div>

    </ion-list>

    <ion-list>
      <item class="item item-divider positive-bg">
        Practice Review
      <span class="item-note ion-right dark" ng-click="refresh_score()">
        Tap to Refresh <span class='ion-refresh'></span>
      </span>
      </item>

      <div class="row stable-bg bar-header">
        <div class="col text-center">
          <h5>
            <b>
            DURATION
            </b>
          </h5>
        </div>
        <div class="col text-center ">
          <h5>
            <b>
            SCORE
            </b>
          </h5>
        </div>
        <div class="col text-center">
          <h5>
            <b>
            RELATIVE
            </b>
          </h5>
        </div>
        <div class="col text-center">
          <h5>
            <b>
            COMMENT
            </b>
          </h5>
        </div>
      </div>

      <ul ng-repeat="practice in practices | orderBy:'taken_on':true">
        <div class="row stable-bg">
          <div class="col text-center">
            {{practice.duration}} <br>
            ({{ practice.taken_on + 'Z' | date: "MMM d, h:mma " }})  <br />

          </div>
          <div class="col text-center" ng-init="q = practice.question_count">
            {{practice.percent_correct}} <br />
            {{q === 1 ? '1 question' : q + ' questions'}}
          </div>

          <!-- relative to practice col -->
          <div class="col text-center">
            <span ng-init="sr = show_relative(practice.taken_on, practice.reminder_when_taken)"
                  ng-class="sr.indexOf('before') > -1 ? 'balanced' : 'assertive'">
                  {{sr}}
            </span>
          </div>

          <!-- comment col -->
          <!-- change class to balance/green if 3NIS is returned -->
          <div class="col text-center">
            <div ng-init="sc = show_comment(practice.duration, practice.question_count, practice.taken_on)"
                  ng-class="sc.$$unwrapTrustedValue().indexOf('#10004') > -1
                                  ? 'balanced' : 'assertive'">

                <span ng-bind-html="sc"> </span>

            </div>
          </div>

        </div>
      </ul>
    </ion-list>

  </ion-content>

</ion-view>
