<ion-view view-title="Reminder">
  <ion-content class="padding">

    <ion-list>
      <div class="list">
        <label class="item item-divider">
          Activate
        </label>
        <label class="item item-input">
          <span class="input-label">
            Daily Time
          </span>
          <input type="time" ng-model="reminder.time" ng-change="enableSaveButton()">
        </label>

        <label class="item item-input">
          <button class="button button-dark button-block"
                  ng-disabled="reminder.saveDisabled"
                  ng-click="saveReminderValues(reminder)">
            Save
          </button>
        </label>

        <label class="item item-divider">
          Deactivate
        </label>

        <ion-toggle toggle-class="toggle-assertive"
                    ng-model="reminder.deactivate"
                    ng-change="toggleSwitched()">
          Deactivate Reminder
        </ion-toggle>

        <label class="item item-divider">
          Test API
        </label>
        <label class="item item-input">
          <button class="button button-dark button-block" ng-click="getVeritasData()">
            Get Performance Scores
          </button>
        </label>
      </div>
    </ion-list>

    <ion-list>
      <ul ng-repeat="practice in practices | limitTo: 20">
        <li>
          <h3>duration:</h3> {{practice.duration}} <br>
          <h3>id:</h3> {{practice.id}} <br>
          <h3> percent_correct:</h3> {{practice.percent_correct}} <br>
          <h3>question_count:</h3> {{practice.question_count}} <br>
          <h3>taken_on:</h3> {{practice.taken_on}}
        </li>
      </ul>
    </ion-list>

    <!--<ion-list>-->
    <!--<ion-item class=" item-remove-animate item-avatar item-icon-right-->
    <!--ng-repeat=" chat in chats-->
    <!--" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
    <!--<img ng-src="{{chat.face}}">-->
    <!--<h2>{{chat.name}}</h2>-->
    <!--<p>{{chat.lastText}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

    <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
    <!--Delete-->
    <!--</ion-option-button>-->
    <!--</ion-item>-->
    <!--</ion-list>-->

  </ion-content>
</ion-view>
