<ion-view view-title="Guide">
  <ion-content class="padding text-center">
    <h3>Welcome to <br>GMAT Practice Reminder</h3>
    <div class="card">
      <div class="item item-text-wrap">
        This will guide you through the process of using this app.
      </div>
    </div>
    <div id="logo">
      <img src="img/icon152.png">
    </div>
    <button class="button icon-right ion-chevron-right button-energized"
    ng-click="toGuide()">
      Start Guide
    </button>
  </ion-content>
</ion-view>
