<ion-view view-title="Guide" cache-view="false">
  <ion-content class="padding">

    <div class="list" ng-show="is_admin">

      <label class="item item-divider positive-bg">
        Admin Mode
      </label>

      <label class="item item-input item-select">

        <div class="input-label">
          Choose Condition:
        </div>

        <select ng-model="condition" ng-change="get_condition(condition)">
          <option>Deadline/Contingency</option>
          <option>Deadline/NO Contingency</option>
          <option selected>NO Deadline/Contingency</option>
          <option>NO Deadline/NO Contingency</option>
        </select>

      </label>

      <div class="item item-text-wrap">
        <div>
          Has Deadline: {{has_deadline}}
        </div>

        <div>
          Has Contingency: {{has_contingency}}
        </div>
      </div>

    </div>


    <div class="card">

      <label class="item item-divider positive-bg">
        Summary
      </label>

      <div class="item item-text-wrap">

        <a href="" ng-click="open_install_link()">Install Veritas GMAT app</a>

        <span ng-show="is_android">
          from Google Playstore if you don't already have it.
        </span>

        <span ng-show="!is_android">
          from iOS App Store if you don't already have it.
        </span>

      </div>


      <div class="item item-text-wrap">
        Set daily reminder time so you remember to practice.
      </div>

      <div class="item item-text-wrap">
        Practice at least once a day. Each practice should be at least 3 minutes
        and at least 3 questions covered.
      </div>
      
    </div>

    <div class="text-center">
      <button class="button icon-right ion-chevron-right
              button-energized" ng-click="toGuide()">
        Start Full Guide
      </button>
    </div>

  </ion-content>
</ion-view>
