<ion-view view-title="GMAT Practice Reminder">
  <ion-content class="padding">
    <ion-list>
      <div class="list">
        <label class="item item-divider positive-bg">
          Veritas Account Login
        </label>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="enter participant code"
                   ng-model="account.code">
          </label>
          <button class="button button-small" ng-click="submit_code(account.code)">
            Submit
          </button>
        </div>
        <label class="item item-input">
          <span class="input-label">Username: </span>
          <input class="input-class" value="{{account.username}}" ng-disabled="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Password: </span>
          <input class="input-class" value="{{account.password}}" ng-disabled="true">
        </label>
      </div>
    </ion-list>

    <ion-list>
      <item class="item item-divider icon-refreshing positive-bg">
        Practice Review
      </item>

      <div class="row stable-bg bar-header">
        <div class="col text-center">
          <h5>
            Duration
          </h5>
        </div>
        <div class="col text-center ">
          <h5>
            Score
          </h5>
        </div>
        <div class="col text-center">
          <h5>
            Relative
          </h5>
        </div>
        <div class="col text-center">
          <h5>
            Comment
          </h5>
        </div>
      </div>

      <ul ng-repeat="practice in practices | orderBy:'taken_on':true">
        <div class="row stable-bg">
          <div class="col text-center">
            {{practice.duration}} <br>
            ({{practice.taken_on | date: "MMM d, h:mma" }})
          </div>
          <div class="col text-center">
            {{practice.percent_correct}} <br /> {{practice.question_count}} questions
          </div>
          <!-- Relative to practice -->
          <div class="col text-center">
            <span class="balanced">
             {{show_relative_to_practice()}}
            </span>
          </div>
          <!-- comment col -->
          <div class="col text-center">
            <span class="assertive">
             {{show_comment()}}
            </span>
          </div>
        </div>
      </ul>
    </ion-list>

    <ion-list class="text-center">
      <button class="button button-block button-outline icon-right"
              ng-click="refresh_score()">
        Refresh
      </button>
    </ion-list>

  </ion-content>

</ion-view>
