<ion-view view-title="Reminder">
  <ion-content class="padding">

    <ion-list>
      <div class="list">
        <label class="item item-divider positive-bg">
          Set Reminder
        </label>

        <label class="item item-input">
          <span class="ion-ios-alarm">&nbsp;&nbsp;</span>
          <input type="time" ng-model="remind_time" ng-disabled="is_disabled"
                 placeholder="HH:mm" required />
        </label>

        <label class="item item-input" ng-show="is_disabled">
          <span class="assertive">Cannot change reminder until tomorrow.</span>
        </label>

      </div>
    </ion-list>

    <ion-list>
      <button class="button button-dark button-block icon-right"
              ng-disabled="is_disabled"
              ng-click="save_reminder(remind_time)">
        Save
      </button>
    </ion-list>

    <ion-list>
      <!-- <label class="item item-divider positive-bg" ng-click="activate_admin_mode()"> -->
      <label class="item item-divider positive-bg">
        Deactivate Reminder
      </label>

      <ion-toggle toggle-class="toggle-assertive"
                  ng-model="deactivate"
                  ng-change="toggle_deactivate(deactivate)">
       <span class="ion-eye-disabled"></span> Deactivate
      </ion-toggle>
    </ion-list>

    </ion-list>

  </ion-content>
</ion-view>
