<ion-view view-title="Reminder">
  <ion-content class="padding">

    <ion-list>
      <div class="list">
        <label class="item item-divider positive-bg">
          Activate
        </label>
        <label class="item item-input">
          <span class="input-label ion-clock">
            Daily Reminder
          </span>
          <input type="time" ng-model="reminder.time" ng-change="enableSaveButton()">
        </label>
        </div>
      </ion-list>

    <ion-list>
      <button class="button button-dark button-block icon-right"
              ng-disabled="reminder.saveDisabled"
              ng-click="saveReminderValues(reminder)">
        Save
      </button>
      <button class="button button-dark button-block icon-right"
              ng-click="pushNow()">
        Open App Links
      </button>
    </ion-list>

    <ion-list>
      <label class="item item-divider positive-bg" ng-dblclick="reactivateHack()">
        Deactivate
      </label>

      <ion-toggle toggle-class="toggle-assertive"
                  ng-model="reminder.deactivate"
                  ng-change="toggleSwitched()">
       <span class="ion-eye-disabled"></spani> Deactivate Reminder
      </ion-toggle>
    </ion-list>

    </ion-list>

  </ion-content>
</ion-view>
