<ion-view view-title="Welcome to GMAT Reminder">
  <ion-content>
    <ion-list>
      <div class="list">
        <label class="item item-divider">
          Veritas Login Details
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" value="jacksonlex@gmail.com" ng-disabled="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" value="jax2a@091!" ng-disabled="true">
        </label>
      </div>
    </ion-list>

    <ion-list>
      <div class="item item-text-wrap">
        Use the displayed login details to sign into your downloaded
        <a ng-href="http://gmat.veritasprep.com/question-bank/practices">
          GMAT Practice App.
        </a>
      </div>
    </ion-list>

    <ion-list>
      <item class="item item-divider icon-refreshing">
        Practice Rewards Earned
      </item>

      <div class="row stable-bg bar-header">
        <div class="col text-center ">
          <h5>No of Questions</h5>
        </div>
        <div class="col text-center">
          <h5>Taken On </h5>
        </div>
        <div class="col text-center">
          <h5>Duration</h5>
        </div>
        <div class="col text-center">
          <h5>Score</h5>
        </div>
        <div class="col text-center">
          <h5>Cumulative Rewards ($)</h5>
        </div>
      </div>

      <ul ng-repeat="practice in practices">
        <div class="row stable-bg">
          <div class="col text-center"> {{practice.question_count}}</div>
          <div class="col text-center"> {{practice.taken_on}}</div>
          <div class="col text-center"> {{practice.duration}}</div>
          <div class="col text-center"> {{practice.percent_correct}}</div>
          <div class="col text-center"> 5.00</div>
        </div>
      </ul>
    </ion-list>

    <ion-list class="padding text-center">
      <button class="button button-outline icon-right ion-refresh"
              ng-click="getVeritasData()">
        Refresh
      </button>
    </ion-list>


  </ion-content>
</ion-view>
