<ion-view view-title="Chats/Reminder">
  <ion-content class="padding">

    <ion-list>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Reminder Time:</span>
          <input type="time" ng-model="reminder.time" ng-change="enableSaveButton()">
        </label>

        <label class="item item-input">
          <span class="input-label">Reminder Mode</span>
          <select ng-model="reminder.mode" ng-change="enableSaveButton()">
            <option selected>Pop Up</option>
            <option>SMS</option>
          </select>
        </label>

        <label class="item item-input">
          <button class="button button-dark button-block"
                  ng-disabled="reminder.saveDisabled"
                  ng-click="saveReminderValues(reminder)">
            Save
          </button>
        </label>

        <label class="item item-input">
          <button class="button button-dark button-block" ng-click="startCountdown()">
            Start Countdown
          </button>
        </label>

        <label class="item item-input">
          <button class="button button-dark button-block" ng-click="showNotification()">
            Show Notification
          </button>
        </label>

        <label class="item item-input">
          <button class="button button-dark button-block" ng-click="testNutrition()">
            Test Nutrition API
          </button>
        </label>
      </div>
    </ion-list>

    <ion-list>
      <ul ng-repeat="item in items | limitTo: 20">
        <li>
          <h5><u>{{item.fields.brand_name}}</u></h5>
          {{item.fields.item_name}} | {{item.fields.nf_calories}} calories
        </li>
      </ul>
    </ion-list>

    <!--<ion-list>-->
    <!--<ion-item class=" item-remove-animate item-avatar item-icon-right-->
    <!--ng-repeat=" chat in chats-->
    <!--" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
    <!--<img ng-src="{{chat.face}}">-->
    <!--<h2>{{chat.name}}</h2>-->
    <!--<p>{{chat.lastText}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

    <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
    <!--Delete-->
    <!--</ion-option-button>-->
    <!--</ion-item>-->
    <!--</ion-list>-->

  </ion-content>
</ion-view>
