<ion-view view-title="Reminder" cache-view="false">
  <ion-content class="padding">

    <ion-list>
      <div class="list">
        <label class="item item-divider positive-bg">
          Set Reminder
        </label>

        <label class="item item-input">
          <span class="ion-ios-alarm">&nbsp;&nbsp;</span>
          <input type="time" ng-model="remind_time" ng-disabled="is_disabled"
                 placeholder="HH:mm" required />
        </label>

        <label class="item item-input" ng-show="reminder_msg">
          <span class="assertive">{{reminder_msg}}</span>
        </label>

      </div>
    </ion-list>

    <ion-list>
      <button class="button button-dark button-block icon-right"
              ng-disabled="is_disabled"
              ng-click="save_reminder(remind_time)">
        Save
      </button>
    </ion-list>

    <ion-list>
      <label class="item item-divider positive-bg">
        Deactivate Reminder
      </label>

      <ion-toggle toggle-class="toggle-assertive"
                  ng-model="deactivate"
                  ng-change="toggle_deactivate(deactivate)">
       <span class="ion-eye-disabled"></span> Deactivate
      </ion-toggle>
    </ion-list>

    <div class="list" ng-show="is_admin">
     <button class="button button-dark button-block" ng-click="admin_reactivate_button()">
       Admin Reactivate Save
     </button>
   </div>

  </ion-content>
</ion-view>
