<ion-view view-title="Guide">
  <ion-content class="padding">

    <div class="card">
      <div class="header">
        <h3>Summary</h3>
      </div>

      <div class="item item-text-wrap">
        <li>Set reminder time and change only once per day.</li>
      </div>

      <div class="item item-text-wrap">
        <li>Install Veritas GMAT app</li>
      </div>

    </div>

    <button class="button icon-right ion-chevron-right button-energized"
            ng-click="toGuide()">
     Start Full Guide
    </button>
  </ion-content>
</ion-view>
