<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Account" icon-off="ion-ios-home-outline" 
    icon-on="ion-ios-home" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Reminder" icon-off="ion-ios-clock-outline"
    icon-on="ion-ios-clock" href="#/tab/reminder">
    <ion-nav-view name="tab-reminder"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Guide" icon-off="ion-ios-information-outline"
    icon-on="ion-ios-information" href="#/tab/guide">
    <ion-nav-view name="tab-guide"></ion-nav-view>
  </ion-tab>


</ion-tabs>
