<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.gmatreminder153539" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>gmatReminder</name>
  <description>
    A GMAT Practice Reminder App.
    </description>
  <author email="fnokeke@gmail.com" href="http://smalldata.io">
     Fabian Okeke - Small Data Lab
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>